<%
@tags= [
  Struct::NavLink.new('Diskuze', '/diskuze'),
  Struct::NavLink.new('Sociální sítě', '/socialni-site'),
  Struct::NavLink.new('Fact-check pro facebook', '/spoluprace-s-facebookem'),
]
%>


<div class="d-flex flex-wrap align-items-center justify-content-between">
  <div class="d-flex flex-wrap align-items-center">
    <% @tags.each do |tag| %>
      <% if active == tag.text %>
      <a
        href="/"
        class="btn outline mb-2 h-44px me-2 px-6 fs-6 active cursor-auto"
      >
        <span><%= tag.text %></span>
      </a>
      <% else %>
        <a
          href="<%= tag.href %>"
          class="btn outline mb-2 h-44px me-2 fs-6  px-6"
        >
          <span><%= tag.text %></span>
        </a>
      <% end %>
    <% end %>
  </div>
  <% if active %>
  <div>
    <a
      href="/"
      class="btn outline mb-2 h-44px me-2 fs-6 px-6"
    >
      <span class="me-2">←</span>
      <span>Zpět</span>
    </a>
  </div>
  <% end %>

</div>
