<% content_for(:title, "Přehled ověřených výroků") %>
<% content_for(:description, "Za svou existenci Demagog.cz už ověřil tisíce výroků politiků a političek. V následujícím rozhraní můžete výroky volně procházet.") %>

<article class="container-statement-index">
  <section class="statements-intro">
    <h1>Přehled ověřených výroků</h1>
    <p>
      Za svou existenci Demagog.cz už ověřil tisíce výroků politiků a&nbsp;političek.
      V&nbsp;následujícím rozhraní můžete výroky volně procházet.
    </p>
  </section>

  <section class="statements-list">
    <%=
      render(
        partial: 'statement/elastic_filterable_list',
        locals: {
          context: {},
          enable_filters: [:body_id, :speaker_id, :editor_picked, :tag_id, :veracity_key, :released_year, :fulltext],
          params: @params,
          no_filters_url: statements_path()
        }
      )
    %>
  </section>
</article>
