.input {
  display: inline-flex;
  padding: 0 1.5rem;
  width: 100%;
  color: $dark;
  background-color: $white;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: $font-size-base;
  align-items: center;
  min-height: 44px;

}
