<div class="<%= @class %>">
  <div class="w-100">
    <div class="mb-4">
      <h2 class="fs-2">Podpořte Demagog.cz</h2>
      <p class="fs-6">Fungujeme díky podpoře od&nbsp;čtenářů, jako jste vy.</p>
    </div>
    <div class="d-flex justify-content-center">
      <div data-darujme-widget-token="<%= @token %>">&nbsp;</div>
      <script type="text/javascript">
        +function(w, d, s, u, a, b) {
          w['DarujmeObject'] = u;
          w[u] = w[u] || function () { (w[u].q = w[u].q || []).push(arguments) };
          a = d.createElement(s); b = d.getElementsByTagName(s)[0];
          a.async = 1; a.src = "https:\/\/www.darujme.cz\/assets\/scripts\/widget.js";
          b.parentNode.insertBefore(a, b);
        }(window, document, 'script', 'Darujme');
        Darujme(1, "<%= @token %>", 'render', "https:\/\/www.darujme.cz\/widget?token=<%= @token %>", "270px");
      </script>
    </div>
  </div>
</div>
