<p class="partnersP">Mediální partneři:</p>

<div class="partnersContainerLogo">
  <%= image_tag('campaign/logo-cedmo.png', class: 'logoCedmo', alt: 'CEDMO') %>

  <%= image_tag('campaign/logo-ct.png', class: 'logoCt', alt: 'Česká televize') %>
</div>
