.container-speaker-show {
  flex: 1 0 100%;
  margin-top: 3rem;

  .profile {
    display: -ms-grid;
    display: grid;
    grid-template-columns: var(--large-portrait) 1fr;
    grid-column-gap: var(--gap);

    // IE 11 support
    -ms-grid-columns: var(--large-portrait) var(--gap) 1fr;

    .portrait {
      width: var(--large-portrait);
      height: var(--large-portrait);
    }

    .name-and-stats {
      // IE 11 support
      -ms-grid-column: 3; // because col 2 is the gap

      h1 {
        margin: 0.5rem 0 0.5rem;
      }

      .role {
        margin: 0 0 .8rem 0;
      }
    }
  }

  @media (max-width: 899.9px) {
    .profile {
      flex: 1 0 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
