<section class="authors">
  <h2>Kdo připravuje demagog.cz?</h2>
 
  <% @users.each do |user| %>
    <figure class="portrait">      
      <%= image_tag(user_portrait(user.portrait)) %>
    </figure>

    <h3><%= user.full_name %></h3>
    <p><%= user.position_description %></p>
    <p><%= user.bio %></p>
  <% end %>
</section>
