<section class="authors">
  <h1>Kdo připravuje demagog.cz?</h1>
 
  <% @users.each do |user| %>
    <article class="author">
      <figure class="portrait">      
        <%= image_tag(user_portrait(user.portrait)) %>
      </figure>

      <div>
        <h2><%= user.full_name %></h2>
        <p><b><%= user.position_description %></b> — <%= user.bio %></p>
      </div>
    </article>
  <% end %>
</section>
