<% content_for(:title, get_web_content("article.collaboration_with_facebook", "title")) %>
<% content_for(:description, strip_tags(get_web_content("article.collaboration_with_facebook", "intro")).truncate(230)) %>

<div class="row g-5 g-lg-10">
  <div class="col col-12 col-lg-8">
    <h1 class="display-4 fw-bold m-0 p-0"><%= get_web_content("article.collaboration_with_facebook", "title") %></h1>
    <div class="fs-5 mt-5">
      <%= raw(get_web_content("article.collaboration_with_facebook", "intro")) %>
    </div>
  </div>
  <div class="col col-12">
    <div class="row g-5 g-lg-10">
      <% @articles.each do |article| %>
      <div class="col col-12 col-lg-6">
        <%= render partial: "components/article_main", object: article, as: :article %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col col-12">
    <div class="d-flex justify-content-center mt-5">
      <%= paginate(@articles) %>
    </div>
  </div>

</div>
