// Place all the styles related to the admin/homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "normalize.css/normalize";

// Note that Blueprint icons are loaded separately by Webpack, because
// assets pipeline does not load the Blueprint Icons16 font family correctly
@import "@blueprintjs/core/lib/css/blueprint";
@import "@blueprintjs/datetime/lib/css/blueprint-datetime";

@import "react-select/scss/default.scss";


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.google-signin-btn {
  display: inline-block;

  width: 191px;
  height: 46px;

  background-image: asset-url("buttons/btn_google_signin_dark_normal_web.png");

  &:hover {
    background-image: asset-url("buttons/btn_google_signin_dark_focus_web.png");
  }

  &:active {
    background-image: asset-url("buttons/btn_google_signin_dark_pressed_web.png");
  }
}


/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.avatar {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
