body, html {
  background: $white;
  color: $black;
  font-family: "Lato", sans-serif;
}

body {
  padding-top: 4em;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-top: 1em;
  color: $black;
}

p, li, blockquote {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.025em;
}

blockquote {
  letter-spacing: 0.05em; 
}

a {
  color: $orange;

  &:hover {
    color: $blue;
  }
}

img {
  border-radius: 3px;
}

header.page-header h1 {
  display: none;
}

nav.top-bar {
  ul.right li {
    float: right;
  }
  .name {
    visibility: hidden;
    .alt { display: none; }
    img { height: 40px; margin: 8px 0 0 0; }
  }
  .dropdown {
    border-left: 3px solid $orange;
  }

}
.fixed nav.top-bar {
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  .name { visibility: visible; }
}

.social {
  padding: 40px 0;
  background: $blue;
}

footer {
  margin-top: 40px;
  padding: 40px 0;
  
  h2 { margin: 0; }
  
  p, .partners { margin: 40px 0; }

  .partners img {
    max-height: 100px;
    margin: 0px 30px 50px 0;
  }
}



.pagination {
  font-size: 28px;
  margin: 50px 0;

  a {
    padding: 0 10px;
  }

  .current-page {
    background-color: $black;
    color: $white;
  }
}

.references {
  background: $blue;
  padding-bottom: 40px;

  a { color: $white; }
  p { color: $white; }

  .photo-wrapper {
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 10px;

    box-shadow: 0 0 0 3px $white;
  }

  h4 {
    margin-top: 0em;
    margin-bottom: 0;
  }

  .position {
    font-size: 12px;
    margin-bottom: 1em;
  }
}

.discussion {
  div.uvod, div.uvod * {
    line-height: 25px;
  }
}

.related {
  border-top: 1px solid #aaa;

  div > ul > li {
    list-style-type: none;
  }
}



.label {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  
  vertical-align: text-top;
  padding: 0.25rem 0.5rem 0.15rem;
  
  &.factcheck { background-color: $true; }
  &.editorial { background-color: $orange; } 
}

input[type="text"] {
  border: 0.5px solid $orange;
}
