@charset "UTF-8";



$blue: #0060ff;
$black: #3c325c;
$white: #f4f9fd;
$orange: #f26538;

$true: $blue;
$untrue: #eb1d2b;
$misleading: #ffba00;
$unverifiable: #9dbaeb;

// remove / ivert colors
$faded: #fff;

@import "settings";
@import "foundation";

@import "veracity";
@import "inverted";

@import "general";
@import "article";
@import "statement";
@import "speaker";

// identify & remove
.explanation {
  clear: left;

  &, & font, & div, & span, & li {
    font-size: 1em !important; line-height: 1.6em !important;
  }

  br { display: none; }
  div { margin-top: 1em; }
}

#zivotopis { display: none; }
