<% content_for(:title, "100 dní prezidenta Petra Pavla") %>
<% content_for(:description, "Speciální výstup projektu Demagog.cz k plnění slibů prezidenta Pavla") %>

<div class="row g-5 mb-5">
  <div class="col col-12">
    <div class="d-flex">
      <span class="py-1 me-2">
        <svg width="69" height="33" viewBox="0 0 69 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M31.8608 7.85225C28.9194 3.14603 23.6746 0 17.6725 0C8.4592 0 0.994141 7.38523 0.994141 16.5C0.994141 25.6148 8.4592 33 17.6725 33C23.6591 33 28.8934 29.8694 31.84 25.1837L16.1214 16.5718L31.8608 7.85225Z" fill="#111827"/>
          <path d="M52.3312 0.0253906C44.9699 0.0253906 38.7395 4.75214 36.5347 11.3008L27.0205 16.5716L36.5658 21.8013C38.7965 28.3038 45.0062 32.9946 52.3312 32.9946C61.5341 32.9946 68.9888 25.6145 68.9888 16.5151C68.9888 7.41575 61.5341 0.0253906 52.3312 0.0253906ZM61.2955 20.082H43.4602V11.9269L48.6427 15.6734L52.2637 11.9269L55.9781 15.8018L61.2903 11.9269V20.082H61.2955Z" fill="#111827"/>
        </svg>
      </span>
      <h1 class="display-4 fw-bold">100 dní prezidenta Petra Pavla</h1>
    </div>
  </div>
  <div class="col col-12 col-lg-6">
    <p class="fs-2 fw-bold">Speciální výstup projektu Demagog.cz k plnění slibů prezidenta Pavla</p>
  </div>
</div>
<div class="row g-10">
  <div class="col col-12 col-lg-6">
    <p class="fs-6 mb-5">
      Prezident Petr Pavel při své inauguraci <a href="https://www.hrad.cz/cs/prezident-cr/soucasny-prezident-cr/verejna-vystoupeni-a-rozhovory/projev-prezidenta-republiky-petra-pavla-pri-inauguraci-16938#from-list" target="_blank">ohlásil</a>, že chce být na začátku svého mandátu kritizován spíše za příliš aktivní než za příliš vlažný start, a rovnou připravil plán konkrétních cílů na prvních 100 dní ve funkci.
    </p>
    <p class="fs-6 mb-5">
      Petr Pavel se zavázal ke splnění <a href="https://www.hrad.cz/file/edee/2023/03/prvnich-100-dni-prezidenta-petra-pavla.pdf" target="_blank">24 bodů</a> (.pdf) v osmi oblastech. Ne všechny je ale možné objektivně ověřit. Ze všech cílů prezidenta Pavla jsme proto stejným způsobem jako u <a href="https://demagog.cz/diskuze/overujeme-sliby-vlady-petra-fialy" target="_blank">slibů</a> vlády Petra Fialy vybrali 18 takových, které jsou dostatečně konkrétními a měřitelnými závazky do budoucna.
    </p>
  </div>
  <div class="col col-12 col-lg-6">
    <p class="fs-6 mb-5">
      Níže si tak můžete přečíst, které prezidentovy závazky jsou po 100 dnech (tj. 16. června 2023) splněné, částečně splněné nebo porušené.
    </p>
  </div>
</div>
