<% content_for(:title, "Sliby vlády Petra Fialy") %>
<% content_for(:description, "Speciální výstup Demagog.cz k plnění slibů vlády Petra Fialy") %>
<div class="row g-5 mb-5">
  <div class="col col-12">
    <div class="d-flex">
      <span class="py-1 me-2">
        <svg width="69" height="33" viewBox="0 0 69 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M31.8608 7.85225C28.9194 3.14603 23.6746 0 17.6725 0C8.4592 0 0.994141 7.38523 0.994141 16.5C0.994141 25.6148 8.4592 33 17.6725 33C23.6591 33 28.8934 29.8694 31.84 25.1837L16.1214 16.5718L31.8608 7.85225Z" fill="#111827"/>
          <path d="M52.3312 0.0253906C44.9699 0.0253906 38.7395 4.75214 36.5347 11.3008L27.0205 16.5716L36.5658 21.8013C38.7965 28.3038 45.0062 32.9946 52.3312 32.9946C61.5341 32.9946 68.9888 25.6145 68.9888 16.5151C68.9888 7.41575 61.5341 0.0253906 52.3312 0.0253906ZM61.2955 20.082H43.4602V11.9269L48.6427 15.6734L52.2637 11.9269L55.9781 15.8018L61.2903 11.9269V20.082H61.2955Z" fill="#111827"/>
        </svg>
      </span>
      <h1 class="display-4 fw-bold">Sliby vlády Petra Fialy</h1>
    </div>
  </div>
  <div class="col col-12 col-lg-6">
    <p class="fs-2 fw-bold">Speciální výstup Demagog.cz k plnění slibů vlády Petra Fialy</p>
  </div>
</div>
<div class="column-2">
  <p class="fs-6 mb-5">
    Při příležitosti dvou let od jmenování vlády Petra Fialy přichází Demagog.cz s rozsáhlou analýzou plnění slibů pětikoalice. Z programového prohlášení, které vláda schválila na začátku roku 2022, jsme vybrali padesátku konkrétních, měřitelných a splnitelných slibů napříč šesti tématy a budeme je pravidelně kontrolovat až do konce volebního období.
  </p>
  <p class="fs-6 mb-5">
    V březnu 2023 vláda schválila aktualizaci svého programového prohlášení a několik závazků změnila. Naše hodnocení ale vychází z původního znění vládního prohlášení z roku 2022, abychom byli konzistentní s naší kontrolou závazků u předchozích vlád.
  </p>
  <p class="fs-6 mb-5">
    Je možné, že na některé sliby budete sami nahlížet jako na nerealizované, ačkoli dle naší <a href="https://demagog.cz/diskuze/overujeme-sliby-vlady-petra-fialy">metodiky</a> stačí už aktivní snaha, např. legislativní práce, k tomu, abychom slib označili za rozpracovaný. Hodnoticí kategorie slibu můžete považovat za výchozí bod a udělat si vlastní závěr podle detailních informací, které najdete u každého našeho hodnocení, včetně dat a zdrojů, které k němu používáme.
  </p>
  <p class="fs-6 mb-5">
    Hodnocení všech slibů jsme provedli k 30. listopadu 2023 a budeme je průběžně aktualizovat. V mezidobí však může docházet ke změnám, které nebudeme schopní obratem do textu zapracovat. Berte to, prosím, na vědomí.
  </p>
</div>
